<h1 class="text-center">Hello!</h1>

<div class="text-center">
        Welcome to the check in app. This app allows you to set up a destination which you can check-in into
        after you have reached the site. Please <%= link_to "Sign up", signup_path%> 
        if you are a new user!
</div>