<script>
        initGeo();
        initMap();

</script>

    
<div id="location"></div>
<div id="distance"></div>
<div id="testing"></div>
<!--<span id="g-unsupported" class="hidden">API not supported</span>-->