<p id="notice"><%= notice %></p>
<div class="jumbotron">
  <div class="container">
    <h1>Choose location to check in</h1>
  </div>
</div>
<table>
  <thead>
    <tr>
      <th>Addresses:</th>
    </tr>
  </thead>

  <tbody>
    <% @destinations.each do |destination| %>
      <tr>
        <td><%= link_to destination.address, new_check_in_path(:destination_id => destination) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Edit destinations", destinations_path %>