<div class="container-fluid">
  <div class="jumbotron">
    <h2>Choose location to check in</h2>
  </div>
</div>
<table class="col-xs-4 col-xs-offset-4">
  <thead>
    <tr>
      <th>Addresses:</th>
    </tr>
  </thead>

  <tbody>
    <% @destinations.each do |destination| %>
      <tr>
        <td><%= link_to destination.address, new_check_in_path(:destination_id => destination) %></td>
      </tr>
    <% end %>
  </tbody>
</table>