<h2>Checking in at <span id='address'><%= @destination.address %></span></h2>    
<div id="location_text" class="text-center"></div>
<div id="distance_text" class="text-center"></div>
<div id="long_lat" class="text-center"></div>
<%= render 'form' %>
<div id="map"></div>

