<div id="main-container" class="container">
  <div class="row">
    <div class="col-xs-12">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: "alert alert-#{name}" %>
      <% end %>
    </div>
  </div>
</div>