<nav class="navbar navbar-default">
<div class="container">
  <div class"navbar-header">
    <div class="navbar-brand">
      <%= link_to "Check In App", check_ins_path %>
    </div>
  </div>
  <ul class="navbar-right navbar-brand">
    <li><%= link_to "Check In", check_ins_path %></li>
    <li><%= link_to "Destinations", destinations_path %></li>
  </ul>
</div>
</nav>